/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* Add fonts from the app's server 
    @font-face {                
      font-family: 'FontName';
      src: url('FontName.woff2') format('woff2');
    } 
    ...or hosted services like Google Fonts 
    @import url(//fonts.googleapis.com/css?family=Font+Name);
  */
  
  /* @import 'node_modules/modern-normalize/modern-normalize.css'; */
        /* npm install modern-normalize
          Resets elements for browser consistency.  
          https://www.npmjs.com/package/modern-normalize
        */         
  
  /* Component-specific stylesheets, if any. 
    @import "component1.css";   
  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');


/*   ----- Variables  -----  */
:root {
    --light-cream:    hsla(39,100%,85%);
    --medium-cream:   rgb(215, 174, 98);
    --dark-cream:     hsla(39,80%,85%,70%);
    --forest-green-contrast: hsla(176, 20%, 30%, 70%);
    --near-white:     rgb(235, 227, 227);
    --bright-green:   rgb(72, 185, 143);
    --lightblueborder: rgb(153, 219, 250, 50%);
    --light-green-form: rgba(156, 241, 156, 10%);
    --dirty-brown: rgb(110, 102, 102);
    --dark-blue: rgb(102, 164, 197, 30%);
    --bright-blue: rgb(152, 232, 239);
    --deep-blue: rgb(23, 71, 125, 90%);
    --basically-white: rgb(227, 240, 240);
    --very-light-green: rgb(221, 254, 221);
    --dark-green: rgba(5, 148, 36, 0.645);
    --pastel-pink: rgb(255, 225, 225);
    --text-area-green: rgba(5, 148, 36, 0.645);
    --label-grey: rgba(255, 255, 255, 0.8); 
    --required-red: rgb(255, 0, 0);
    --button-gray: rgba(140, 140, 140, 0.874);
    --figure-yellow: rgb(186, 186, 36);
    --light-forest-green: hsla(174, 12%, 49%, 40%);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {} or :root {} */
    background-image: url(images/background-thailand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--light-cream);
    font-family: 'Raleway', sans-serif; /* Define with at least one font name and its related generic family name.*/
    margin: auto;
    max-width: 1200px; 
  }

  /*  ----- Page layout blocks -----  */
  header {
    background-color: var(--forest-green-contrast);
    color: var(--near-white);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -25px;
    font-size: larger;
    padding: 0px
  }
  main {
    background-color: var(--forest-green-contrast);
    padding: 2%;
    border-radius: 10px;
  }
  section {
    color:var(--medium-cream);
  }

  
    article {
        color:var(--dark-cream);
        margin-bottom: 2%;
    }
      #topic1 {}
      #topic2 {}
  div {}
  aside {}
  footer {
    text-align: center;
    padding: 2%;
    margin: 2%;
  }
  
  /* ----- Anchors ----- Text links */

  a.homenav {}
  a:link {
    color:var(--very-light-green)
  }
  a:hover {}
  a:active {}
  a:visited {}

  a.rngLink:focus{
    text-decoration: none;
  }


  
  /*  ----- Navigation ----- Override text links for navigation only.  */

  nav {
    text-align: center;
    text-decoration: none;
  }

  nav a {    
    text-decoration: none;
    background-color: var(--forest-green-contrast);
    color: var(--medium-cream);
    border-radius: 8px;
    font-size: 2em;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    margin: 3%;
    vertical-align: middle;
    line-height: 2;
  }

  nav a:hover {
    text-decoration: none;
    background-color: var(--medium-cream);
    color:var(--forest-green-contrast);
  }
  
  nav.homenav{
    background-color: var(--dark-blue);
    font-size: 40%;
    text-decoration: none;
    border-radius: 0px;
    text-align: center;
    margin:1%;
  }

  nav.homenav a{
    color:pink;
    padding: 0.5%;
    border-radius: 3px;
    margin: 0.3%;
  }

  /*  -----  Typography  ----- */
  p {}

  p.apiRequestButtons{
    margin-top: 30px;
    text-align: center;
  }

  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {} 
  h1 {}
  h2 {}
  h3 {
    color:var(--light-cream);
  }
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    color: var(--bright-blue);
    font-weight: lighter;
    padding: 2px 30px 2px 50px;
    border-spacing: 20px 0;
    margin-bottom: 2%;
  }
  

  table.employeeDirectory{
    margin-left:auto;
    margin-right:auto;
  }


  caption {
    font-size: 25px;
    color: var(--pastel-pink);
    font-weight: bold;
    margin-bottom: 20px;
  }
  thead {}
  tbody {}
  tfoot {}

  th {
    color: var(--bright-blue);
    text-align: left;
  }
  
  tr {
    color:var(--light-cream);
  }
    tr:nth-child(even) td {background-color: var(--light-forest-green)};
    
  td {
    color: var(--light-cream);
    text-align: left;
  }

  td.orderSelection {
    padding: 0px 25px;
  }

    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form, button, input, select, textarea {
    font-family: 'Raleway', sans-serif;
  }
  fieldset {
    background-color: var(--light-green-form); 
    margin-bottom: 4%; /* Increases spacing between fieldsets */
    border-color: var(--dirty-brown);
  }

    legend {
      font-family: 'Raleway', sans-serif;
      background-color:var(--lightblueborder);
      border: 2px solid var(--dirty-brown);
      border-bottom: 0;
      color:var(--basically-white);
      padding: 0.5%;
      border-radius: 10px;
      
    }

  :focus{
    background-color: var(--very-light-green);
    border: 2px solid var(--lightblueborder);
  }

  :required:focus{
    background-color:var(--very-light-green);
    border: 2px solid var(--lightblueborder);
  }

  input {
    font-family: 'Raleway', sans-serif;
    padding: 0.5%;
    font-size: 120%;  /* Modern style is to have large inputs */
    background-color: var(--near-white);
    border-radius: 5px;
    margin-bottom: 2%;
    border: 2px solid var(--dark-green);
  }

  input.quantity{
    margin: 0px 480px;
    padding: 0px 3px;
    margin-top: 5px;
  }


  input:valid {
    border: 2px solid var(--dark-green);
  }


  input:invalid {
    border: 2px solid var(--required-red);
  }

  input.addressForm{
    margin-bottom: 4px;
  }

  *:required{
    background-color: var(--pastel-pink);
    border: 2px solid var(--required-red);
    
  }


  textarea:valid{
    border: 2px solid var(--text-area-green)
  }


  *::placeholder{
    color:var(--dirty-brown);
  }

  *:required{
    background-color: var(--pastel-pink);
    border: 2px solid var(--required-red);
  }


  label {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-top: 2%;
    color: var(--label-grey);
    margin-bottom: 1%;
  }

  label.checkbox{
    color: var(--light-cream);
    margin: 0px 60px;
  }

  label.quantityLabel{
    margin: 0px 30px;
    padding: 0px 400px;
    display: inline;
  }

  label.quantityLabel:after{
    content:" *";
    color:var(--required-red);
  }


  label.required:after{
    content:"*";
    color:var(--required-red);
  }

  label.pick_country{
    display:inline;
    margin: 0px 60px;
    color: var(--light-cream);
  }

    button {
      font-family: 'Raleway', sans-serif;
      padding: 0.5%;
      font-size: 120%;
      align-items: center;
      border-color: var(--dirty-brown);
      border-radius: 10px;
      color: var(--button-gray);
    }

    output {}
    meter {}
    progress {}
    select {
      font-family: 'Raleway', sans-serif;
      padding: 0.5%;
      font-size: 120%;
      background-color: var(--near-white);
      border-radius: 5px;
      margin-bottom: 2%;
      border: 2px solid var(--lightblueborder);
    }
      optgroup {}
      option {
        font-family: 'Raleway', sans-serif;
      }
    textarea {
      font-family: 'Raleway', sans-serif;
      padding: 1%;
      font-size: 120%;
      border-radius: 5px;
      background-color:var(--near-white);
      border: 2px solid var(--lightblueborder);
    }

  


  /* ----- Media ----- */


  .gallery {
    display: flex;
    flex-flow: row wrap;
    margin: 4%;
    padding: 4%;
  }
    figcaption {
      text-align: center;
    }
    figure {
      color: var(--figure-yellow);
    }

    img {
      display: flex;
      border: 1.5px solid var(--lightblueborder);

    }



  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  